#login {
    width: 300px;
    position: absolute;
    left: 560px;
    top: 8px;
    z-index: 100;
}

#abierto {
    margin: 0;
    cursor: pointer;
    background: rgb(255,255,255)  url(../images/open.png) no-repeat 8px 7px;
    color: rgb(58,80,123);
    padding: 5px 0 2px 30px;
}

#login .cerrado {
    background-image:url(../images/close.png);
    background-color: rgb(110,138,195);
}

#abierto:hover {
    color: rgb(0,0,0);
    background-color: rgb(110,138,195);
}

#login form {
    padding: 10px 10px 10px 10px;
    display: none;
    background-color: rgb(255,255,255);
}

#login label {
    display: inline-block;
    width: 100px;
    text-align:right;
    margin: 0 15px 0 0;
    color: rgb(58,80,123);
}

#login input {
    font-size: 14px;
}

#login #boton {
    margin-left: 50px;
}

.cabecera {
    position: relative;
    border-top: solid 6px white;
    padding: 10px 0 10px 0;
    margin-bottom: 20px;
}

.logo {
    letter-spacing: -1px;
    color: rgb(195,151,51);
    text-shadow: 2px 2px 1px rgba(0,0,0,.25);
    font: normal 54px Arial, sans-serif;
}

.contenido {
    max-width: 760px;
    margin: 20px 0 0 100px;
}

.principal {
    xxposition: relative;
    padding-bottom: 1em;
    border-bottom: solid 1px rgba(255,255,255,.5);
    xxoverflow:hidden;
    xxmin-height: 300px;
}

.principal h1 {
    font-size: 32px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,.75);
    border-bottom: solid 1px rgba(255,255,255,.5);
    margin-bottom: 0.75em;
}

p , li, legend , form{
    font-size: 18px;
    color: white;
    font-family: Arial, sans-serif;
    line-height: 125%;
    margin-bottom: 10px;
}

html , body{
    line-height: 1;
    background-color:#006;

}